{% set ckan_29_or_higher = h.ckan_version().split('.')[1] | int >= 9 %}
{% set apiset_admins_route = 'apis_blueprint.admins' if ckan_29_or_higher else 'apis_admins' %}

<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle icon-info-sign"></i>
    {{ _('What are Apisets?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}Datasets have been used to build apps, websites and visualizations. They've been featured in articles, and written about in news reports and blog posts. Apisets collect together the best examples of datasets in use, to provide further insight, ideas, and inspiration.{% endtrans %}
    </p>
    {% if h.check_access('apiset_admin_add') %}
      <p>
        {% trans url=h.url_for(apiset_admins_route) %}Sysadmins can manage Apiset Admins from the <a href='{{ url }}'>Apiset configuration page</a>.{% endtrans %}
      </p>
    {% endif %}
  </div>
</div>
