{% extends "package/confirm_delete.html" %}

{% block form %}
  {% set dataset = h.dataset_display_name(pkg_dict) %}
  <p>{{ _('Are you sure you want to delete apiset - {name}?').format(name=dataset) }}</p>
  <p class="form-actions">
  <form id='confirm-dataset-delete-form' action="{% url_for pkg_dict.type ~ '.delete', id=pkg_dict.name %}" method="post">
    <button class="btn btn-danger" type="submit" name="cancel" >{{ _('Cancel') }}</button>
    <button class="btn btn-primary" type="submit" name="delete" >{{ _('Confirm Delete') }}</button>
  </form>
  </p>
{% endblock %}
