{% extends "package/search.html" %}
{% import 'macros/form.html' as form %}
{% set ckan_29_or_higher = h.ckan_version().split('.')[1] | int >= 9 %}
{% set apiset_index_route = 'apis_blueprint.index' if ckan_29_or_higher else 'apiset_index' %}
{% set apiset_new_route = 'apis_blueprint.new' if ckan_29_or_higher else 'apiset_new' %}


{% block subtitle %}{{ _("Apisets") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Apisets'), named_route=apiset_index_route, highlight_actions = 'new index') }}</li>
{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('apiset_create') %}
    <div class="page_primary_action">
      {% link_for _('Add Apiset'), named_route=apiset_new_route, class_='btn btn-primary', icon='plus-square' %}
    </div>
  {% endif %}
{% endblock %}

{% block form %}
  {% set facets = {
    'fields': g.fields_grouped,
    'search': g.search_facets,
    'titles': g.facet_titles,
    'translated_fields': g.translated_fields,
    'remove_field': h.facet_remove_field }
  %}
  {% set sorting = [
    (_('Relevance'), 'score desc, metadata_modified desc'),
    (_('Name Ascending'), 'title_string asc'),
    (_('Name Descending'), 'title_string desc'),
    (_('Last Modified'), 'metadata_modified desc'),
    (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
  %}
  {% snippet 'apiset/snippets/apiset_search_form.html', type='apiset', placeholder=_('Search apisets...'), query=g.q, sorting=sorting, sorting_selected=g.sort_by_selected, count=g.page.item_count, facets=facets, show_empty=request.params, error=g.query_error, fields=g.fields, no_bottom_border=true %}
{% endblock %}

{% block package_search_results_list %}
  {{ h.snippet('apiset/snippets/apiset_list.html', packages=g.page.items) }}
{% endblock %}

{% block package_search_results_api %}
{% endblock %}

{% block secondary_content %}
{{ h.snippet('apiset/snippets/helper.html') }}
<div class="filters">
  <div>
    {% for facet in g.facet_titles %}
      {{ h.snippet('snippets/facet_list.html', title=g.facet_titles[facet], name=facet) }}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle icon-remove-sign"></i><span class="text">close</span></a>
</div>
{% endblock %}